apiVersion: v1
kind: Service
metadata:
  name: {{ app_name }}
  namespace: {{ namespace }}
  labels:
    app.kubernetes.io/name: {{ app_name }}
spec:
  type: ClusterIP
  ports:
    - port: {{ port }}
      targetPort: {{ port }}
      protocol: TCP
      name: http
  selector:
    app.kubernetes.io/name: {{ app_name }}
